{% extends "base.html.twig" %}

{% block body %}
    <div class="ms-2 mt-2">
		<a class="btn btn-primary btn-sm" href="../accueil">Retour à l'accueil</a>
	</div>
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center my-5">
			<div class="col-6">
				<h3 class="text-center my-5 text-danger">Veuillez renseigner tous les champs !</h3>
			</div>
		</div>
	</div>
{% endblock %}